openapi: 3.1.0

info:
  title: Manglam Vastu API
  version: "1.0.0"
  summary: Read-only reference of the deployed Manglam Vastu HTTP API.
  description: |
    This document describes the API **as it is currently implemented** in
    `app/api/**/route.ts`. It was generated by reading the route handlers
    directly; it is not aspirational. Where the implementation has a security or
    correctness problem, the operation is annotated with an `x-known-issues`
    array instead of being described as if it were safe.

    ## Scope

    * 35 Next.js route files exposing 43 HTTP operations.
    * A separate section documents the internal Python "Vastu Spatial Engine"
      microservice that `/api/analysis/objects` proxies to.

    ## How to read this document

    * `x-auth` records how a caller is authenticated:
      `none`, `session-or-bearer` (NextAuth cookie **or** mobile JWT),
      `bearer`, or `session`.
    * `x-owner-check` records whether the handler actually verifies that the
      caller owns the resource it is mutating. `none` means any authenticated
      user can act on any project id.
    * `x-known-issues` lists concrete defects. See `known-gaps.md` for the full
      write-up.

    ## Authentication in one paragraph

    Almost every protected route calls `validateAuth()`
    (`lib/auth.ts:176`). That helper checks the `Authorization: Bearer <jwt>`
    header **first**; if the header is absent or the JWT does not verify it
    silently falls back to the NextAuth session cookie. So both a browser with
    a `next-auth.session-token` cookie and a mobile app holding a Bearer token
    can call the same endpoint, and no endpoint needs to know which. The one
    exception is `GET /api/auth/user`, which calls `getServerSession` directly
    and therefore requires the cookie.

    ## Errors

    Error envelopes are **not** uniform. Handlers independently use
    `{ message }`, `{ error }`, `{ message, error }`, `{ error, details }` and
    `{ message, needs_payment }`. Always read both `message` and `error` and
    treat either as the human-readable failure. See `errors.md`.

    ## Markdown

    Human-readable companions live next to this file in `docs/api/`.
  license:
    name: UNLICENSED
  contact:
    name: Manglam Vastu
    url: https://manglamvastu.in

servers:
  - url: https://manglamvastu.in
    description: Production
  - url: http://localhost:3000
    description: Local development

tags:
  - name: System
    description: Liveness probes and health aggregation.
  - name: Authentication
    description: NextAuth session handlers, email/password signup, and mobile JWT issuing.
  - name: Users
    description: Profile reads scoped to the authenticated caller.
  - name: Projects
    description: Project CRUD and ownership.
  - name: Floor Plan Objects
    description: Placed-object persistence on a project.
  - name: Uploads
    description: Floor-plan images and plot videos in Cloudflare R2.
  - name: Analysis
    description: Analysis lifecycle, premium gating, and report generation.
  - name: Payments
    description: Razorpay order creation, verification, and webhooks.
  - name: Subscriptions
    description: Plan status and cancellation.
  - name: Astrologer
    description: Practitioner onboarding and assigned projects.
  - name: Admin
    description: Admin-only plan, credit, role, and application management.

security: []

paths:

  /api/health:
    get:
      tags: [System]
      operationId: getHealth
      summary: Aggregate health of the Next.js app and the Python engine
      description: |
        Proxies `GET {MICROSERVICE_URL}/health` on the Python "Vastu Spatial
        Engine" and returns its body verbatim on success.

        This is a liveness probe only. It does **not** check the database or
        Cloudflare R2, so a `200` does not mean the API is fully functional.
      x-auth: none
      x-owner-check: not-applicable
      security: []
      responses:
        "200":
          description: Python engine reachable and healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EngineHealth"
        "503":
          description: Python engine unreachable, unhealthy, or the fetch threw.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/HealthUnreachable"
                  - $ref: "#/components/schemas/HealthEngineDown"

  /api/auth/{...nextauth}:
    get:
      tags: [Authentication]
      operationId: nextAuthGet
      summary: NextAuth handler (GET) - session, CSRF token, provider metadata
      description: |
        The standard NextAuth v4 catch-all route (`app/api/auth/[...nextauth]/route.ts`).
        The file contains only `export { handler as GET, handler as POST }`, so
        this operation is whatever `NextAuth(authOptions)` installs in
        `lib/auth-options.ts`.

        Two providers are configured: **Google** (OAuth 2.0) and
        **Credentials** (email + password). Session strategy is `jwt`.

        The useful concrete paths are:

        | Path | Purpose | Typical result |
        | --- | --- | --- |
        | `/api/auth/providers` | List provider ids and callback URLs | `200` JSON |
        | `/api/auth/session` | Read the current session | `200` with `user: null` when signed out |
        | `/api/auth/csrf` | Fetch a CSRF token for client-side POSTs | `200` JSON |
        | `/api/auth/error` | Last sign-in error | `200` JSON or redirect |

        Sign-in posts to `/api/auth/callback/credentials` (password) or
        `/api/auth/signin/google` (OAuth start).
      x-auth: none
      x-owner-check: not-applicable
      security: []
      responses:
        "200":
          description: NextAuth response. Shape depends on the sub-path.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/NextAuthSession"
                  - $ref: "#/components/schemas/NextAuthProviders"
                  - $ref: "#/components/schemas/NextAuthCsrf"
                  - type: object
                    additionalProperties: true
        "302":
          description: Redirect to a NextAuth action page, or to the OAuth provider.
    post:
      tags: [Authentication]
      operationId: nextAuthPost
      summary: NextAuth handler (POST) - credentials sign-in, OAuth callback, sign-out
      description: |
        The write side of the same catch-all route. These are the concrete
        endpoints worth calling:

        | Path | Body | Effect |
        | --- | --- | --- |
        | `/api/auth/callback/credentials` | form: `csrfToken`, `email`, `password`, optional `callbackUrl`, optional `json=true` | Verifies against `profiles`, sets the session cookie, returns the session as JSON when `json=true`, otherwise redirects |
        | `/api/auth/callback/google` | query: `code`, `state` | Completes the OAuth handshake and sets the session cookie |
        | `/api/auth/signout` | form: `csrfToken` | Clears the session cookie |
        | `/api/auth/signin` | form: `csrfToken`, `callbackUrl` | Redirects to the provider selection page |

        Fetch the CSRF token from `/api/auth/csrf` first - the credentials
        callback rejects a missing or mismatched token.

        The credentials `authorize` callback in `lib/auth-options.ts` looks the
        profile up by lowercased email and, if the row has no `password` hash
        (a Google-only account), fails with an explicit "sign in with Google"
        message. It also throws the raw database error message on a query
        failure, which NextAuth surfaces on `/api/auth/error` - a minor
        information leak.

        **Prefer `POST /api/mobile/auth/login` for non-browser clients.** It
        returns the same identity in a Bearer JWT instead of a `Set-Cookie`
        that browsers will not store for a native app.
      x-auth: none
      x-owner-check: not-applicable
      security: []
      requestBody:
        required: false
        description: Form-encoded, as NextAuth v4 expects. `application/x-www-form-urlencoded`.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                csrfToken:
                  type: string
                  description: From `/api/auth/csrf`. Required for every mutating action.
                email:
                  type: string
                  format: email
                password:
                  type: string
                callbackUrl:
                  type: string
                  format: uri
                  description: Where to land after sign-in. Defaults to the configured `/login` page.
                json:
                  type: string
                  description: Set to `true` to receive the session as JSON instead of a redirect.
                redirect:
                  type: string
          application/json:
            schema:
              type: object
              properties:
                csrfToken:
                  type: string
                email:
                  type: string
                password:
                  type: string
                callbackUrl:
                  type: string
      responses:
        "200":
          description: Session established (or the sign-out acknowledgement) as JSON.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/NextAuthSession"
                  - type: object
                    additionalProperties: true
        "302":
          description: Redirect to `callbackUrl`, to `/login`, or to the Google consent screen. On success the `Set-Cookie` header carries the session token.
        "401":
          description: CSRF token missing or invalid, or the credentials were rejected.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples: [MissingCSRF, "CredentialsSignin"]

  /api/auth/signup:
    post:
      tags: [Authentication]
      operationId: webSignup
      summary: Register an email/password account (no session cookie issued)
      description: |
        Creates a `profiles` row with `role: "user"` and a matching
        `user_credits` row at `0`. The password is hashed with the project's
        own `hashPassword` helper. **This endpoint does not sign the user in** -
        it returns only a `userId`; the caller must then go through
        `/api/auth/callback/credentials` to obtain a session.

        A missing `user_credits` row is upserted, so this is safe to retry for a
        brand-new user, but a duplicate email is a hard `400`.
      x-auth: none
      x-owner-check: not-applicable
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  description: Stored lowercased. Not format-validated by the server.
                password:
                  type: string
                  minLength: 6
                  description: Plaintext; hashed server-side.
      responses:
        "201":
          description: Account created.
          content:
            application/json:
              schema:
                type: object
                required: [message, userId]
                properties:
                  message:
                    type: string
                    const: Registration successful
                  userId:
                    type: string
                    format: uuid
        "400":
          description: |
            Missing field, password shorter than 6 characters, or the email is
            already taken. If the existing account was created through Google
            the message explicitly says so. Note this route uses the `error`
            key, not `message`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
              examples:
                googleAccountExists:
                  value:
                    error: "This email is already linked to a Google account. Please sign in with Google."
                passwordTooShort:
                  value:
                    error: "Password must be at least 6 characters long"
                duplicate:
                  value:
                    error: "User already exists with this email address"
        "500":
          $ref: "#/components/responses/ServerErrorMessage"

  /api/auth/user:
    get:
      tags: [Authentication]
      operationId: webGetCurrentUser
      summary: Read the current session user, profile, credits, and subscription flag
      description: |
        **Cookie-only.** Unlike every other protected route this calls
        `getServerSession(authOptions)` directly and ignores the
        `Authorization` header, so a mobile Bearer token will not work here.

        Never returns `401`. A signed-out caller gets `200` with
        `{ "user": null }`, so clients must check the `user` field rather than
        the status code.
      x-auth: session
      x-owner-check: self
      security:
        - nextAuthSession: []
      responses:
        "200":
          description: Session state. `user` is `null` when signed out.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUserEnvelope"
        "500":
          description: |
            Database failure. Unlike the signed-out case this one does use
            status `500`, but the body is still `{ "user": null }` rather than
            an error object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: "null"

  /api/mobile/auth/signup:
    post:
      tags: [Authentication]
      operationId: mobileSignup
      summary: Register an account and receive a 30-day mobile JWT
      description: |
        Mobile equivalent of `/api/auth/signup`, but the profile and credit
        rows are created inside a `prisma.$transaction` and a JWT is returned
        in the response body. No cookie is set.

        Unlike the web signup, this handler does not distinguish "email already
        registered with Google" from "email already registered with a
        password"; both collapse to `"User already exists"`.
      x-auth: none
      x-owner-check: not-applicable
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 6
      responses:
        "201":
          description: Account created and JWT issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileAuthResponse"
        "400":
          description: "Missing fields, password under 6 characters, or duplicate email."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "500":
          $ref: "#/components/responses/ServerErrorMessage"

  /api/mobile/auth/login:
    post:
      tags: [Authentication]
      operationId: mobileLogin
      summary: Exchange email/password for a 30-day mobile JWT
      description: |
        Verifies the password with `verifyPassword` and signs
        `{ id, email, role }` with `NEXTAUTH_SECRET` and `expiresIn: "30d"`.

        The response body is the **only** place the token appears; nothing is
        stored server-side, so there is no revocation path. See
        `known-gaps.md` for the fallback-secret risk.
      x-auth: none
      x-owner-check: not-applicable
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        "200":
          description: Authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileAuthResponse"
        "400":
          description: Missing email or password.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "401":
          description: |
            Unknown email, wrong password, or the account was created through
            Google and therefore has no password hash.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "500":
          $ref: "#/components/responses/ServerErrorMessage"

  /api/mobile/auth/google:
    post:
      tags: [Authentication]
      operationId: mobileGoogleLogin
      summary: Exchange a Google ID token for a 30-day mobile JWT
      description: |
        Verifies the supplied Google ID token by calling
        `https://oauth2.googleapis.com/tokeninfo?id_token=...`, then finds the
        profile by the email Google returns (lowercased). If no profile exists
        it creates one with `role: "user"` and a `0`-credit row inside a
        transaction, with **no password** field.

        Note this is a live network call to Google on every request; the token
        is not cached or nonce-checked.
      x-auth: none
      x-owner-check: not-applicable
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [idToken]
              properties:
                idToken:
                  type: string
                  description: A Google OAuth ID token (the credential a native app receives).
      responses:
        "200":
          description: Authenticated; the account may have been created just now.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileAuthResponse"
        "400":
          description: '`idToken` missing, or Google''s tokeninfo response had no `email`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "401":
          description: Google's tokeninfo endpoint rejected the token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "500":
          $ref: "#/components/responses/ServerErrorMessage"

  /api/users/role:
    post:
      tags: [Users]
      operationId: getUserRole
      summary: Read the caller's own role
      description: |
        Despite being a `POST` with no request body, this is a read: it returns
        `{ "role": "<role>" }` for the authenticated caller. Roles seen in the
        codebase are `user`, `astrologer`, `dev`, and `admin`.
      x-auth: session-or-bearer
      x-owner-check: self
      security:
        - bearerAuth: []
        - nextAuthSession: []
      responses:
        "200":
          description: The caller's role.
          content:
            application/json:
              schema:
                type: object
                required: [role]
                properties:
                  role:
                    $ref: "#/components/schemas/UserRole"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "404":
          description: The JWT resolved to an id with no `profiles` row.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description: |
            Returns **both** `message` and the raw `error.message`. This leaks
            internal failure text to the client.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageAndError"

  /api/projects:
    get:
      tags: [Projects]
      operationId: listProjects
      summary: List the caller's own projects
      description: |
        Scoped to `user_id = session.id` and `deleted_at IS NULL`, newest first.
        This is the one list endpoint that correctly enforces isolation.
      x-auth: session-or-bearer
      x-owner-check: self
      security:
        - bearerAuth: []
        - nextAuthSession: []
      responses:
        "200":
          description: The caller's projects.
          content:
            application/json:
              schema:
                type: object
                required: [projects]
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "500":
          description: Returns `message` plus the raw `error.message`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageAndError"

    post:
      tags: [Projects]
      operationId: createProject
      summary: Create a project
      description: |
        Creates the project and, if the authenticated id has no `profiles` row
        yet (which happens for Google sign-ins in some paths), lazily creates
        the profile and a `0`-credit row first.

        ## Server-side geometry validation

        When all four of `plot_side_front`, `plot_side_back`, `plot_side_left`,
        `plot_side_right` are supplied and positive, the server calls
        `feasibleDiagonalInterval(a, b, c, d)` and rejects the request unless:

        * the four sides can form a quadrilateral, and
        * if `plot_diagonal` was also supplied, it lies **strictly** between
          `interval.min` and `interval.max`.

        The error message for the diagonal case embeds the computed bounds, so
        the UI can show the user a concrete range. If any side is omitted the
        whole check is skipped, so a plot with three sides is accepted
        unvalidated.

        `astrologer_code` and `expert_code` are aliases; the first non-empty one
        is looked up in `profiles.expert_code` and, on a hit, sets
        `assigned_astrologer_id`. An unknown code is **silently ignored** - the
        project is still created, just unassigned. There is no way to clear an
        existing assignment through this endpoint.
      x-auth: session-or-bearer
      x-owner-check: self
      security:
        - bearerAuth: []
        - nextAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequest"
      responses:
        "201":
          description: Project created.
          content:
            application/json:
              schema:
                type: object
                required: [message, project]
                properties:
                  message:
                    type: string
                    const: Project created successfully
                  project:
                    $ref: "#/components/schemas/Project"
        "400":
          description: |
            `name` missing, a side length non-positive, the four sides cannot
            form a quadrilateral, or `plot_diagonal` outside the feasible range.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              examples:
                nameRequired:
                  value:
                    message: Name is required
                notAQuadrilateral:
                  value:
                    message: "Invalid plot: these four sides cannot form a quadrilateral. Adjust the side lengths."
                diagonalOutOfRange:
                  value:
                    message: "Invalid diagonal: must be strictly between 3.35 and 8.11 (FL-BR diagonal)."
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "500":
          description: Returns `message` plus the raw `error.message`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageAndError"

  /api/projects/{projectId}:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      tags: [Projects]
      operationId: getProject
      summary: Read one project with its objects, media URLs, and premium flag
      description: |
        Filters on `id` **and** `user_id`, so a project owned by somebody else
        returns `404` rather than `403` - which is the right behaviour for
        avoiding an existence oracle.

        Response is the raw `projects` row spread with three added keys:

        | Key | Meaning |
        | --- | --- |
        | `floor_plan_path` | Presigned R2 URL for the active map plot, valid 1 hour, or `null` |
        | `video_url` | Presigned R2 URL for the plot video, valid 1 hour, or `null` |
        | `placed_objects` | Duplicate of the selected `project_objects` projection |
        | `is_premium` | `true` if any analysis on the project has `report_paid`, **or** `checkPaymentAccess` passed |

        `is_premium` is a hint for UI gating only. The real gates are the
        `403`s on `/api/analysis/marma`, `/api/analysis/full-report` and
        `/api/analysis/{analysisId}/deduct-credit-for-report`.

        Note that R2 presigning is wrapped in its own `try/catch`, so a storage
        outage degrades the two URL fields to `null` while still returning `200`.
      x-auth: session-or-bearer
      x-owner-check: owner
      security:
        - bearerAuth: []
        - nextAuthSession: []
      responses:
        "200":
          description: The project.
          content:
            application/json:
              schema:
                type: object
                required: [project]
                properties:
                  project:
                    allOf:
                      - $ref: "#/components/schemas/Project"
                      - type: object
                        properties:
                          floor_plan_path:
                            type: [string, "null"]
                            description: Presigned URL, 1 hour TTL.
                          video_url:
                            type: [string, "null"]
                            description: Presigned URL, 1 hour TTL.
                          placed_objects:
                            type: array
                            items:
                              $ref: "#/components/schemas/PlacedObjectSummary"
                          is_premium:
                            type: boolean
        "400":
          description: Empty `projectId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "404":
          description: No project with that id **for this user**.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "500":
          description: 'Body is `{ error: error.message }` - raw internal text.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"

    patch:
      tags: [Projects]
      operationId: updateProject
      summary: Update selected project fields
      description: |
        A whitelist of thirteen fields is copied into an `updates` object:
        `boundary_normalized`, `north_direction`, `plot_width`, `plot_height`,
        the five `plot_side_*` / `plot_diagonal` measurements,
        `assigned_astrologer_id`, `status`, and `metadata`. Any other key in the
        body - including `user_id`, `id`, `deleted_at`, `expert_id` - is
        ignored, so this is not a mass-assignment hole.

        Setting `status: "completed"` also stamps `completed_at`. If no
        whitelisted key is present the request is rejected with `400`.

        Unlike the read, **this handler does not filter by `user_id`.** It
        updates `where: { id: projectId }` only. See `known-gaps.md`.
      x-auth: session-or-bearer
      x-owner-check: none
      x-known-issues:
        - id: IDOR-PATCH-PROJECT
          severity: high
          summary: Any authenticated user can modify any project by id, including reassigning it to an astrologer.
          detail: |-
            `prisma.projects.update({ where: { id: projectId } })` has no
            `user_id` filter, so ownership is never verified. The accepted keys
            include `assigned_astrologer_id` (a raw id, with no check that the
            target even has the astrologer role) and the full plot geometry, so
            one request can reshape another user's plot and redirect it to a
            different astrologer. `status: "completed"` also stamps
            `completed_at`.
      security:
        - bearerAuth: []
        - nextAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectRequest"
      responses:
        "200":
          description: Project updated.
          content:
            application/json:
              schema:
                type: object
                required: [message, project]
                properties:
                  message:
                    type: string
                    const: Project updated successfully
                  project:
                    $ref: "#/components/schemas/Project"
        "400":
          description: Body contained none of the whitelisted fields.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "404":
          description: Prisma `P2025` - no row with that id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "500":
          description: 'Body is `{ error: error.message }`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"

    delete:
      tags: [Projects]
      operationId: deleteProject
      summary: Delete a project and all of its media and analyses
      description: |
        The only mutating project route that checks ownership: it reads
        `user_id` and returns `404` when it does not match.

        Teardown order, all **outside** any transaction:

        1. Delete every `map_plots.storage_path` and `video_path` object from R2
           (failures are logged and swallowed).
        2. `projects.update({ active_map_plot_id: null })` to break the
           circular relation.
        3. `map_plots.deleteMany({ project_id })`.
        4. `projects.delete({ id })`, which cascades to `analyses` and
           `project_objects`.

        Because there is no transaction, a failure between steps 2 and 4
        leaves orphaned rows. Step 2 also permanently clears the project's
        active map plot.
      x-auth: session-or-bearer
      x-owner-check: owner
      security:
        - bearerAuth: []
        - nextAuthSession: []
      responses:
        "200":
          description: Project, its analyses, its objects, and its media are gone.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message:
                    type: string
                    const: Project and all related data deleted successfully
        "400":
          description: Empty `projectId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "404":
          description: "Missing project, or `user_id` mismatch. Both collapse to the same message."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "500":
          description: Returns `error` plus `details` carrying the raw message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorAndDetails"

  /api/projects/{projectId}/objects:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      tags: [Floor Plan Objects]
      operationId: listProjectObjects
      summary: List every placed object on a project
      description: |
        Returns full rows, including `marma_distance` and `issues`.

        **No ownership check.** The query filters on `project_id` alone, so any
        authenticated caller can read the object layout of any project id they
        can guess or enumerate.
      x-auth: session-or-bearer
      x-owner-check: none
      x-known-issues:
        - id: IDOR-LIST-OBJECTS
          severity: high
          summary: No ownership check on projectId, so any authenticated user can read any project's floor plan layout.
      security:
        - bearerAuth: []
        - nextAuthSession: []
      responses:
        "200":
          description: All objects on the project. Empty array if none.
          content:
            application/json:
              schema:
                type: object
                required: [objects]
                properties:
                  objects:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProjectObject"
        "400":
          description: Empty `projectId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "500":
          description: Returns `error` plus `details`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorAndDetails"

    post:
      tags: [Floor Plan Objects]
      operationId: replaceProjectObjects
      summary: Replace the entire object set for a project
      description: |
        This is a **destructive replace, not an append.**

        1. `deleteMany({ project_id: projectId })` - every existing object is
           removed.
        2. If the new `objects` array is empty, return `200` with
           `{ "message": "No objects to insert", "objects": [] }`. The project
           has already been emptied at this point.
        3. `createMany` the incoming objects, then re-read them so the response
           includes the generated `id`s.

        The delete and the insert are **not** in a transaction, so an insert
        failure leaves the project with no objects at all. Only
        `object_type`, `boundary_normalized`, and `centroid` are persisted from
        each element; `id`, `type`, and `zone` are dropped, and `marma_distance`
        / `issues` are never written by this route.

        An `objects` array that is empty passes validation. The `deleteMany` has
        already run by then, so `{"objects": []}` clears the floor plan and
        responds `200 {"message": "No objects to insert", "objects": []}`.

        No ownership check.
      x-auth: session-or-bearer
      x-owner-check: none
      x-known-issues:
        - id: IDOR-REPLACE-OBJECTS
          severity: high
          summary: No ownership check; any authenticated user can wipe another user's floor plan.
        - id: NONATOMIC-REPLACE
          severity: medium
          summary: Delete-then-insert is not transactional, so a failed insert leaves the project empty.
        - id: EMPTY-ARRAY-WIPES-PLAN
          severity: medium
          summary: Sending an empty `objects` array deletes every object for the project and still returns 200.
      security:
        - bearerAuth: []
        - nextAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [objects]
              properties:
                objects:
                  type: array
                  description: The complete replacement set. Passing `[]` clears the project.
                  items:
                    $ref: "#/components/schemas/ReplaceObjectInput"
      responses:
        "200":
          description: |
            Replaced. Either `"Objects saved successfully"` with the new rows,
            or `"No objects to insert"` when an empty array cleared the project.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    required: [message, objects]
                    properties:
                      message:
                        type: string
                        const: Objects saved successfully
                      objects:
                        type: array
                        items:
                          $ref: "#/components/schemas/ProjectObject"
                  - type: object
                    required: [message, objects]
                    properties:
                      message:
                        type: string
                        const: No objects to insert
                      objects:
                        type: array
                        maxItems: 0
                        items:
                          type: "null"
        "400":
          description: "`objects` was missing or not an array."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "500":
          description: Returns `error` plus `details`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorAndDetails"

  /api/projects/{projectId}/objects/{objectId}:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
      - $ref: "#/components/parameters/ObjectId"
    put:
      tags: [Floor Plan Objects]
      operationId: updateProjectObject
      summary: Update one placed object (or move it to another zone)
      description: |
        Ownership **is** verified here: the project is looked up with
        `id` + `user_id` and a miss returns `404`. The update itself is scoped
        to `id` + `project_id`, so an object id from a different project will
        not be touched.

        ## Field naming quirk

        The body is destructured as `{ type, zone, ...restObjectData }` and the
        update is written as `{ ...restObjectData, object_type: type }`. So:

        * the type must be sent as **`type`**, not `object_type`;
        * `zone` is accepted and silently discarded;
        * every other key is spread **directly into the Prisma update** after
          `type` and `zone` are removed. That includes `object_type` - if you
          send both, `type` wins because it is applied last.
        * `id` is not excluded, so sending `id` in the body attempts to change
          the primary key and will fail the query.

        This route is also the one that breaks browser CORS, because `PUT` is
        not in the allow-list. See `cors.md`.
      x-auth: session-or-bearer
      x-owner-check: owner
      x-known-issues:
        - id: CORS-PUT-MISSING
          severity: medium
          summary: Browser preflight fails because `PUT` is absent from Access-Control-Allow-Methods.
      security:
        - bearerAuth: []
        - nextAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateObjectRequest"
      responses:
        "200":
          description: Object updated; the full row is returned.
          content:
            application/json:
              schema:
                type: object
                required: [message, object]
                properties:
                  message:
                    type: string
                    const: Project object updated successfully
                  object:
                    $ref: "#/components/schemas/ProjectObject"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "404":
          description: "Project not owned by the caller, or the object id is not in that project."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              examples:
                notYourProject:
                  value:
                    message: "Project not found or you do not have permission to modify objects in it."
                noSuchObject:
                  value:
                    message: Object not found
        "500":
          description: Returns `message` plus the raw `error.message`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageAndError"

    delete:
      tags: [Floor Plan Objects]
      operationId: deleteProjectObject
      summary: Delete one placed object
      description: |
        Ownership **is** verified, and the delete is scoped to
        `id` + `project_id`. Deleting an object that belongs to a different
        project leaves it untouched and returns `404`.
      x-auth: session-or-bearer
      x-owner-check: owner
      security:
        - bearerAuth: []
        - nextAuthSession: []
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message:
                    type: string
                    const: Project object deleted successfully
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "404":
          description: "Project not owned by the caller, or the object is not in that project."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description: Returns `message` plus the raw `error.message`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageAndError"

  /api/projects/{projectId}/objects/batch:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    post:
      tags: [Floor Plan Objects]
      operationId: batchProjectObjects
      summary: Create and delete many objects in one call
      description: |
        Two optional arrays, applied in a fixed order:

        1. `objectsToDelete` - `deleteMany({ id: { in: objectsToDelete } })`.
        2. `objectsToSave` - `createMany`. Each element's `id` and `zone` are
           stripped and its `type` is mapped to `object_type`, so a saved
           element is the same shape as `UpdateObjectRequest`.

        The response is the **full re-read** of the project's objects after the
        mutation, so a client can use it as an authoritative sync. Both arrays
        may be omitted or empty, in which case this is a read that re-writes
        nothing.

        The project ownership check is present and correct. **The delete is not
        project-scoped**: `objectsToDelete` is matched by id alone, so an
        authenticated astrologer or admin who owns one project can also delete
        objects belonging to other projects by passing their ids.

        Note this route lives at `.../objects/batch`, which collides with the
        `[objectId]` dynamic segment. Next.js gives the static segment priority,
        so `POST .../objects/batch` always reaches this handler. Because
        `[objectId]` only serves `PUT` and `DELETE`, there is no practical
        ambiguity - but do not try to create an object whose id is `batch`.

        No client in this repository calls this endpoint.
      x-auth: session-or-bearer
      x-owner-check: project-only
      x-known-issues:
        - id: BATCH-DELETE-NOT-SCOPED
          severity: medium
          summary: objectToDelete ids are not filtered by project_id, so ids from other projects can be deleted.
      security:
        - bearerAuth: []
        - nextAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                objectsToSave:
                  type: array
                  items:
                    $ref: "#/components/schemas/UpdateObjectRequest"
                objectsToDelete:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        "200":
          description: Saved, then the full post-mutation object list re-read.
          content:
            application/json:
              schema:
                type: object
                required: [message, objects]
                properties:
                  message:
                    type: string
                    const: Configuration saved successfully
                  objects:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProjectObject"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "404":
          description: Project missing or not owned by the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description: |
            Three distinct failure shapes are possible, distinguished by
            `message`: `"Failed to delete objects."`,
            `"Failed to save new objects."`, or
            `"Objects saved, but failed to fetch updated list."`. Each also
            carries the raw `error` message. The third case means the write
            succeeded and only the re-read failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageAndError"

  /api/projects/{projectId}/video:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    post:
      tags: [Uploads]
      operationId: uploadProjectVideo
      summary: Upload and compress a plot video, then point the project at it
      description: |
        `multipart/form-data` with a single `file` part.

        Size handling:

        * over **100 MB** is rejected with `400`;
        * over **10 MB** is re-encoded with ffmpeg (`libx264`, `aac`) to a
          computed bitrate targeting 9 MB, with a 200 kbps floor;
        * the buffer is written to `os.tmpdir()` and read back, so the
          serverless function needs writable temp space and enough memory for
          the whole file.

        On success the object is stored at
        `videos/{userId}/{projectId}/{timestamp}_{filename}` and the project's
        `video_path` is set. **Any previous video is orphaned in R2** - the old
        key is overwritten in the database but never deleted, and it is
        removed only when the project itself is deleted.

        Uploading again replaces `video_path`; there is no history and no
        per-project video cap.

        No ownership check, and the content type is taken from the client's
        `file.type` with no allow-list, so this endpoint will accept any
        bytes up to 100 MB. `ffprobe` failures fall back to storing the
        original file uncompressed.
      x-auth: session-or-bearer
      x-owner-check: none
      x-known-issues:
        - id: IDOR-VIDEO-UPLOAD
          severity: high
          summary: No ownership check; any authenticated user can overwrite any project's video_path.
        - id: UNRESTRICTED-VIDEO-TYPE
          severity: high
          summary: >-
            No MIME allow-list and no content sniffing, so up to 100 MB of arbitrary bytes can be
            stored. The client-supplied file.type is stored as the object's Content-Type and
            replayed by /api/public-assets, so an HTML or SVG "video" is served as text/html from
            the app's origin. file.name is also used unescaped in the R2 key and the ffmpeg temp
            path.
      security:
        - bearerAuth: []
        - nextAuthSession: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Video, hard limit 100 MB.
      responses:
        "200":
          description: Stored in R2 and linked from the project.
          content:
            application/json:
              schema:
                type: object
                required: [message, project]
                properties:
                  message:
                    type: string
                    const: Video uploaded and project updated successfully
                  project:
                    $ref: "#/components/schemas/Project"
        "400":
          description: No `file` part, or the file exceeds 100 MB.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "500":
          description: "R2 upload failure, Prisma update failure, or an unexpected error. Each includes the raw `error` message."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageAndError"

  /api/public-assets/{...key}:
    parameters:
      - $ref: "#/components/parameters/AssetKey"
    get:
      tags: [Uploads]
      operationId: getPublicAsset
      summary: Stream a public R2 object by key
      description: |
        A **completely unauthenticated** catch-all that joins the path segments
        back into an R2 key and streams the object back. It sets
        `Cache-Control: public, max-age=31536000, immutable`.

        Because there is no allow-list of prefixes, *any* key readable by the
        R2 credentials is publicly fetchable, including
        `map-plots/{userId}/...` and `videos/{userId}/...` - i.e. the private
        floor plans and videos that the presigned-URL routes above were
        designed to protect. If you intend this route for genuinely public
        assets, restrict it to a fixed prefix such as `public/`.

        Errors are `text/plain`, not JSON.
      x-auth: none
      x-owner-check: none
      x-known-issues:
        - id: PUBLIC-ASSET-LEAK
          severity: critical
          summary: Unauthenticated catch-all exposes every R2 object, including private floor plans and videos.
        - id: PUBLIC-ASSET-NO-PREFIX-ALLOWLIST
          severity: high
          summary: >-
            The catch-all key is not restricted to a known prefix, so it will serve any object in
            the bucket, and there is no signature or expiry check of any kind.
        - id: PUBLIC-ASSET-CONTENT-TYPE-REPLAY
          severity: high
          summary: >-
            The stored Content-Type is replayed to the caller, so an upload of attacker-chosen
            type is served from the app's own origin. Combined with the missing upload allow-list
            this is stored XSS. The response also sets Cache-Control: immutable for a year, so a
            replaced object is never revalidated by browsers or CDNs.
      security: []
      responses:
        "200":
          description: The object's bytes, streamed.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: Empty key.
          content:
            text/plain:
              schema:
                type: string
                const: Key required
        "404":
          description: The key does not exist, or the R2 lookup threw.
          content:
            text/plain:
              schema:
                type: string
                const: Asset not found

  /api/upload:
    post:
      tags: [Uploads]
      operationId: uploadFloorPlan
      summary: Upload a floor-plan image and activate it on the project
      description: |
        `multipart/form-data` with a `file` part and a `projectId` field.
        Max **5 MB**.

        ## Payment gate

        Upload is refused with `403` unless the caller is `admin` or
        `astrologer`, or has a `user_subscriptions` row with status
        `active`/`trialing` and `expires_at > now`, or has at least one credit.
        Note this is a plain `credits > 0` check - it does **not** consume a
        credit, so repeated uploads on one credit are possible until the
        subscription expires or the credit balance reaches zero.

        ## Re-upload cap

        `map_plots.count({ project_id }) >= 2` returns `403` for non-staff. The
        new row is inserted and becomes active; **the previous map plot rows
        are only deactivated (`is_active = false`), never deleted**, so their
        R2 objects stay until the project is deleted. The count keeps growing
        across attempts, so the cap is two uploads per project per account
        lifetime.

        No ownership check on `projectId`.
      x-auth: session-or-bearer
      x-owner-check: none
      x-known-issues:
        - id: IDOR-MAP-UPLOAD
          severity: high
          summary: No ownership check on projectId; a paying user can attach a map plot to somebody else's project.
        - id: UPLOAD-TYPE-UNVALIDATED
          severity: high
          summary: >-
            file.type is stored verbatim as the object's Content-Type with no allow-list and no
            content sniffing, so an SVG or HTML floor plan is stored and later served as
            text/html by /api/public-assets. Combined with that route this is stored XSS on the
            app's own origin.
      security:
        - bearerAuth: []
        - nextAuthSession: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, projectId]
              properties:
                file:
                  type: string
                  format: binary
                  description: Floor-plan image, max 5 MB. No MIME allow-list.
                projectId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Stored in R2, inserted as an active `map_plots` row, and linked as the project's active map plot.
          content:
            application/json:
              schema:
                type: object
                required: [message, project]
                properties:
                  message:
                    type: string
                    const: File uploaded and project updated successfully
                  project:
                    $ref: "#/components/schemas/Project"
        "400":
          description: No `file`, no `projectId`, or the file exceeds 5 MB.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "403":
          description: |
            Either no paid access, or the two-upload cap is already reached.
            The two cases are distinguishable by message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              examples:
                noPaidAccess:
                  value:
                    message: "Map Upload is restricted to Basic (Rs.999+GST) and Advanced (Rs.2500+GST) plans. Free tier allows manual plot entry only."
                reuploadCap:
                  value:
                    message: "Maximum upload limit reached. You can only re-upload once."
        "500":
          description: "R2 upload, deactivation, insert, or project-update failure. Each includes the raw `error` message."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageAndError"

  /api/analysis:
    post:
      tags: [Analysis]
      operationId: createAnalysis
      summary: Create a pending analysis for a project
      description: |
        Inserts an `analyses` row with `status: "pending"`, the supplied
        `boundary_normalized` and `north_direction`, and `report_paid: false`.
        Returns the new `analysisId` only.

        ## Role handling

        `admin`, `astrologer`, and `user` are all allowed. For `admin` and
        `astrologer` the project-ownership check is **skipped**, so those roles
        can create analyses on any project id. For `user` the project's
        `user_id` must match.

        Because all three roles are in the allow-list, the `403` with
        `needs_payment: true` is currently unreachable for any role present in
        the database.

        ## Date validation

        `analysisDate` must match `YYYY-MM-DD` and `analysisTime`, if present,
        `HH:MM`. The combined timestamp must parse and must **not be in the
        future**. A date-only value is treated as `T00:00:00` local time and
        stored as an ISO-8601 string. Both are optional; when `analysisDate` is
        absent the stored `analysis_timestamp` is `null`.
      x-auth: session-or-bearer
      x-owner-check: owner-for-users-only
      x-known-issues:
        - id: ANALYSIS-ROLE-GATE
          severity: low
          summary: >-
            The role allow-list is a hard-coded `role === "admin" || "astrologer" || "user"`, so the
            `dev` role is refused with 403 `{ message, needs_payment: true }` - a payment prompt for
            a role that has nothing to do with payment. Conversely astrologer and admin skip the
            project-ownership check entirely and may analyse any project id, which is presumably
            intended but is not expressed anywhere in the code.
      security:
        - bearerAuth: []
        - nextAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAnalysisRequest"
      responses:
        "201":
          description: Analysis row created in `pending` state.
          content:
            application/json:
              schema:
                type: object
                required: [message, analysisId]
                properties:
                  message:
                    type: string
                    const: Analysis created successfully
                  analysisId:
                    type: string
                    format: uuid
        "400":
          description: "Missing `projectId`, `analysisType`, `boundary_normalized`, or `north_direction`; or a malformed/future date."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              examples:
                missingFields:
                  value:
                    message: "Project ID, analysis type, boundary, and north direction are required."
                badDateFormat:
                  value:
                    message: "Invalid analysisDate format. Expected YYYY-MM-DD."
                futureDate:
                  value:
                    message: "Analysis date and time cannot be in the future."
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "403":
          description: 'The project belongs to another user. Body also carries `needs_payment: true`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NeedsPayment"
        "404":
          description: No project with that id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description: "Profile lookup or insert failure. Returns `message` plus the raw `error.message`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageAndError"

  /api/analysis/objects:
    post:
      tags: [Analysis]
      operationId: analyzeObjectsUnauthenticated
      summary: Unauthenticated proxy to the Python object analysis engine
      description: |
        Forwards the body verbatim to `{MICROSERVICE_URL}/analyze_objects` and
        returns the engine's response unchanged. On a non-2xx engine reply the
        status is mirrored and the body becomes
        `{ "error": <engine detail> }`.

        **This route has no authentication and no payment check.** The full
        Vastu scoring engine is therefore callable by anyone who can reach the
        site, with no per-object rate limit. It does not read or write the
        database, so the practical exposure is compute, not data - but it
        completely bypasses the credit model that
        `/api/analysis/[analysisId]/deduct-credit-for-report` enforces.

        Note the path collides with the `[analysisId]` dynamic segment: Next.js
        matches the static `objects` first, so this handler always wins for
        `POST /api/analysis/objects`.
      x-auth: none
      x-owner-check: not-applicable
      x-known-issues:
        - id: UNAUTH-ANALYSIS-PROXY
          severity: high
          summary: No auth and no payment gate on the full analysis engine.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ObjectAnalysisRequest"
      responses:
        "200":
          description: Engine result, passed through untouched.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VastuAnalysisResult"
        "422":
          description: 'Pydantic validation failure inside the engine; the body is `{ error: <detail> }`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description: The fetch to the engine threw.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
                description: >
                  The handler always returns the literal string
                  "Internal Server Error during object analysis" in `error`.

  /api/analysis/devta:
    get:
      tags: [Analysis]
      operationId: getDevtaAnalysis
      summary: Generate the 45-devta and direction-zone geometry for an analysis
      description: |
        Loads `boundary_normalized` and `north_direction` from the `analyses`
        row identified by the `analysisId` query parameter, health-checks the
        Python engine, then POSTs to `/analyze` with
        `{ boundary_normalized, north_direction, grid_type }`.

        `gridType` defaults to `"81"` and is passed straight through as
        `grid_type`; the engine only accepts `"81"` or `"64"`, so any other
        value yields a `422` from the engine, which this route flattens into a
        generic `500`.

        ## Premium filtering

        If the caller is not premium (no `report_paid` analysis on the project
        and `checkPaymentAccess` failed), the response is still `200` but
        **`devtas45` is overwritten with an empty array**. The 16 and 8 zone
        geometry is still returned in full, so a free caller sees the zone
        overlay without the devta mandala.

        ## Side effect

        On a successful engine call the route sets the analysis `status` to
        `"reviewed"`. That update is in its own `try/catch`, so a failure is
        logged and the response is still returned. Combined with the missing
        ownership check below, any authenticated user can mark any analysis
        reviewed just by calling this.

        No ownership check: the `analyses` lookup is `findUnique({ id })` and
        the project owner is never compared against the caller.
      x-auth: session-or-bearer
      x-owner-check: none
      x-known-issues:
        - id: IDOR-DEVTA
          severity: high
          summary: No ownership check, so any authenticated user can run (and mark reviewed) another user's analysis.
        - id: GET-WRITES-STATE
          severity: medium
          summary: >-
            This GET mutates: after producing the grid it issues
            `prisma.analyses.update({ data: { status: "reviewed" } })` and swallows any failure into
            a log line, so a GET can silently mark an analysis reviewed - including one belonging to
            another user - and a 200 response does not mean the write happened.
      security:
        - bearerAuth: []
        - nextAuthSession: []
      parameters:
        - $ref: "#/components/parameters/AnalysisIdQuery"
        - $ref: "#/components/parameters/GridTypeQuery"
      responses:
        "200":
          description: Geometry from the Python engine. `devtas45` is `[]` for non-premium callers.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalysisGeometry"
        "400":
          description: "`analysisId` query parameter absent, or the stored analysis has no boundary or a `null` north direction."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "404":
          description: No analysis with that id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description: |
            The engine health check failed, the engine returned non-2xx, the
            caller has no `profiles` row, or an unexpected error occurred.

            Four distinct messages collapse into this response: three use the
            `error` key (`"Python Service Unreachable"`, `"Python Service
            Unreachable or error during analysis"`, `"Internal Server Error"`)
            and one uses `message` (`"Failed to fetch user profile."`).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorMessageField"
                  - $ref: "#/components/schemas/ErrorMessage"

  /api/analysis/full-report:
    get:
      tags: [Analysis]
      operationId: getFullReport
      summary: Score every placed object and return the full report payload
      description: |
        ## Gates, in order

        1. If the caller's role is `user` and the analysis is not
           `report_paid`, return `403` - report access must be bought first via
           `/api/analysis/{analysisId}/deduct-credit-for-report`.
        2. The project must belong to the caller, or the caller must be
           `admin`. This check is present and correct.

        ## Engine call

        Boundary and north direction are taken from the **analysis** row, with
        the **project** row as a fallback (`analysis.north_direction ?? project.north_direction ?? 0`).
        `placed_objects` is projected down to
        `id, object_type, boundary_normalized, centroid` and POSTed to
        `/analyze_objects`.

        The response is the engine body spread together with the resolved
        `north_direction` and `boundary_normalized`, so the caller can confirm
        which geometry was actually analysed.

        `admin` and `astrologer` skip gate 1, so staff read reports for free.
      x-auth: session-or-bearer
      x-owner-check: owner-or-admin
      security:
        - bearerAuth: []
        - nextAuthSession: []
      parameters:
        - $ref: "#/components/parameters/AnalysisIdQuery"
      responses:
        "200":
          description: Full report from the engine plus the resolved geometry.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/VastuAnalysisResult"
                  - type: object
                    properties:
                      north_direction:
                        type: number
                        format: double
                      boundary_normalized:
                        $ref: "#/components/schemas/PointList"
        "400":
          description: "`analysisId` absent, or the resolved geometry is unusable."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "403":
          description: "Role is `user` and the report has not been paid for."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "404":
          description: No analysis, or the project is not owned by the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description: "The engine replied non-2xx (body becomes `{ error, details }`), the caller has no profile row, or an unexpected error."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorAndDetails"
                  - $ref: "#/components/schemas/ErrorMessage"

  /api/analysis/marma:
    get:
      tags: [Analysis]
      operationId: getMarmaAnalysis
      summary: Marma (vital points) and Vansha lines for the project's plot
      description: |
        Computed **in-process** with `getMarmaPoints(project.boundary_normalized)`
        (`lib/marmaAnalysis.ts`) - this route makes no network call, unlike the
        other analysis routes.

        The engine lays a traditional Manduka 8x8 grid over the plot's bounding
        box, clips 25 orthogonal and diagonal Vansha lines to the boundary, and
        returns the up-to-14 named Marma intersections that fall inside the
        polygon. The route is called without the optional `centroid`
        argument, so the grid is centred on the **bounding box**, not the
        polygon centroid.

        Ownership is verified (project `user_id` must match, `admin` bypasses),
        and premium is **required**: no paid analysis on the project and a
        failed `checkPaymentAccess` returns `403`. Unlike `/api/analysis/devta`,
        the free-tier result is a hard refusal rather than a stripped payload.
      x-auth: session-or-bearer
      x-owner-check: owner-or-admin
      security:
        - bearerAuth: []
        - nextAuthSession: []
      parameters:
        - $ref: "#/components/parameters/AnalysisIdQuery"
      responses:
        "200":
          description: Marma points and clipped Vansha line segments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarmaResult"
        "400":
          description: "`analysisId` absent, or the project has no `boundary_normalized`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "403":
          description: Premium required. Unlike `devta`, the non-premium payload is not returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "404":
          description: No analysis, or the project is not owned by the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageAndError"

  /api/analysis/{analysisId}/status:
    parameters:
      - $ref: "#/components/parameters/AnalysisIdPath"
    get:
      tags: [Analysis]
      operationId: getAnalysisStatus
      summary: Read one analysis's status string
      description: |
        Returns `{ "status": "<status>" }`. If the stored status is falsy it
        reports `"completed"` instead, so a `null` status is never surfaced.

        Statuses seen in the codebase: `pending`, `reviewed`, `failed`, and the
        Prisma default `completed`.

        **No ownership check** - the lookup is `findUnique({ id })`, so any
        authenticated user can poll any analysis id. Prefer
        `/api/projects/{projectId}` for anything user-facing.
      x-auth: session-or-bearer
      x-owner-check: none
      x-known-issues:
        - id: IDOR-ANALYSIS-STATUS
          severity: low
          summary: Status of any analysis id is readable by any authenticated user.
      security:
        - bearerAuth: []
        - nextAuthSession: []
      responses:
        "200":
          description: The analysis status.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    examples: [pending, reviewed, completed, failed]
        "400":
          description: Empty `analysisId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "404":
          description: No analysis with that id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          $ref: "#/components/responses/ServerErrorMessage"

  /api/analysis/{analysisId}/approve:
    parameters:
      - $ref: "#/components/parameters/AnalysisIdPath"
    put:
      tags: [Analysis]
      operationId: approveAnalysis
      summary: Mark an analysis reviewed (astrologer or dev only)
      description: |
        Requires the caller's `profiles.role` to be `astrologer` or `dev`;
        `admin` is **not** accepted here even though admins can read reports.
        Sets `status: "reviewed"` and returns the full row.

        This is the only analysis route that gates on role, and it is the right
        place to look for the reviewer workflow. There is no ownership or
        assignment check: any astrologer can approve any analysis, including
        analyses on projects assigned to a different astrologer.

        `PUT` is not in the CORS method allow-list, so this call fails
        preflight from a browser on a non-allow-listed origin.
      x-auth: session-or-bearer
      x-owner-check: none
      x-known-issues:
        - id: APPROVE-NO-ASSIGNMENT-CHECK
          severity: medium
          summary: >-
            Any astrologer or dev can approve any analysis by id: the update is
            `prisma.analyses.update({ where: { id: analysisId } })` with no ownership or
            assignment filter, and a non-existent id surfaces as a 500 rather than a 404 because
            the Prisma P2025 error is caught by the generic handler.
        - id: CORS-PUT-MISSING
          severity: medium
          summary: '`PUT` absent from Access-Control-Allow-Methods, so browser preflight fails.'
      security:
        - bearerAuth: []
        - nextAuthSession: []
      responses:
        "200":
          description: Approved.
          content:
            application/json:
              schema:
                type: object
                required: [message, analysis]
                properties:
                  message:
                    type: string
                    const: Analysis approved successfully
                  analysis:
                    $ref: "#/components/schemas/Analysis"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "403":
          description: Role is not `astrologer` or `dev`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description: Prisma failure. Returns `message` plus the raw `error.message`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageAndError"

  /api/analysis/{analysisId}/deduct-credit-for-report:
    parameters:
      - $ref: "#/components/parameters/AnalysisIdPath"
    post:
      tags: [Analysis]
      operationId: unlockReport
      summary: Spend one credit (or a subscription) to unlock a report
      description: |
        The paywall for `/api/analysis/full-report`. Takes no request body.

        ## Branch 1 - `admin` or `checkPaymentAccess` passed

        Admins, astrologers with an in-window `valid_from`/`valid_to`,
        subscribers with an unexpired `active`/`trialing` row, and anyone with
        at least one credit all take this path. It sets `report_paid = true` and
        returns `200` with `no_credit_deduction: true`. **No credit is
        consumed**, which is correct for subscriptions but means a
        single-credit user can unlock every report they can reach without ever
        dropping to zero.

        ## Branch 2 - free tier with exactly 0 credits

        `deductCredit` performs an atomic `updateMany` guarded by
        `credits >= 1`, so concurrent calls cannot overdraw. On success
        `report_paid` is set to `true`. If that write then fails, the route
        **refunds the credit** and returns `500` with a message saying so.

        Other outcomes: already unlocked returns `200` with
        `"Report already paid for."`; `status === "failed"` returns `403`; a
        missing analysis returns `404`.

        **No ownership check.** The analysis is looked up by id alone, and the
        credit is spent from the *caller's* balance. A user with one credit can
        therefore set `report_paid = true` on somebody else's analysis, after
        which the owner can read it and the caller's credit is gone.
      x-auth: session-or-bearer
      x-owner-check: none
      x-known-issues:
        - id: IDOR-UNLOCK-REPORT
          severity: high
          summary: Any user can spend their own credit to unlock another user's report.
        - id: NO-CREDIT-CONSUMPTION-WITH-CREDITS
          severity: high
          summary: >-
            Credits are never actually spent. checkPaymentAccess() returns hasAccess: true whenever
            user_credits.credits > 0, and the first branch of this handler reads hasAccess as
            "skip payment and set report_paid": true. A caller holding one or more credits therefore
            unlocks reports for free and keeps the credits, and the deductCredit() call below is
            reachable only for a caller with exactly zero credits - who then fails it and receives
            the 403. The insufficient-credits 403 is thus reachable only by users who have no
            credits at all.
      security:
        - bearerAuth: []
        - nextAuthSession: []
      responses:
        "200":
          description: Report unlocked. Four distinct success bodies.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    required: [message, no_credit_deduction]
                    properties:
                      message:
                        type: string
                        const: Report access granted.
                      no_credit_deduction:
                        type: boolean
                        const: true
                  - type: object
                    required: [message]
                    properties:
                      message:
                        type: string
                        const: Report already paid for.
                  - type: object
                    required: [message]
                    properties:
                      message:
                        type: string
                        const: Credit deducted and report access granted.
        "400":
          description: Empty `analysisId`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedMessage"
        "403":
          description: 'The analysis failed, or the caller has no credits. The latter body also carries `needs_payment: true`.'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorMessage"
                  - $ref: "#/components/schemas/NeedsPayment"
        "404":
          description: No analysis with that id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description: "Profile lookup failure, or the unlock write failed after a successful deduction (in which case the credit is refunded)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"

  /api/payments:
    get:
      tags: [Payments]
      operationId: listPlans
      summary: List active plans
      description: |
        **Unauthenticated.** Returns every `is_active` plan ordered by
        `price_inr`, split three ways:

        * `allPlans` - everything, cheapest first;
        * `creditPlans` - `plan_type` of `credit` **or** `free`;
        * `subscriptionPlans` - `plan_type` of `subscription`.

        The `free` grouping means free-tier rows are advertised alongside paid
        credit packs. `price_inr` is pre-GST; the price actually charged is
        `round(price_inr * 1.18)`, with a special case that leaves a
        `price_inr` of `1` at `1` (that is the Razorpay test order).

        The three hard-coded `CREDIT_PACKAGES` in `lib/razorpay.ts`
        (`credits_1rs`, `basic_plan`, `advanced_plan`) are **not** returned
        here unless matching rows exist in `subscription_plans`. Clients that
        hard-code those ids will not find them in this list.
      x-auth: none
      x-owner-check: not-applicable
      security: []
      responses:
        "200":
          description: Active plans, grouped.
          content:
            application/json:
              schema:
                type: object
                required: [allPlans, creditPlans, subscriptionPlans]
                properties:
                  allPlans:
                    type: array
                    items:
                      $ref: "#/components/schemas/SubscriptionPlan"
                  creditPlans:
                    type: array
                    items:
                      $ref: "#/components/schemas/SubscriptionPlan"
                  subscriptionPlans:
                    type: array
                    items:
                      $ref: "#/components/schemas/SubscriptionPlan"
        "500":
          description: Database failure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"

    post:
      tags: [Payments]
      operationId: createRazorpayOrder
      summary: Create (or reuse) a Razorpay order
      description: |
        Accepts either `planId` or the legacy `packageId`; `planId` wins if
        both are present. `targetPlanId` may be a plan UUID or a plan **name**
        (case-insensitive).

        ## Resolution order

        1. **Database plan** - match on UUID (only if it looks like one) or
           name, where `is_active` is true.
        2. **Hard-coded package** - match `targetPlanId` against
           `CREDIT_PACKAGES`. These always create an `order_type: "credits"`
           order.

        Anything else is a `400`.

        ## Amounts

        For a database plan: `finalPriceWithGst = price_inr === 1 ? 1 : round(price_inr * 1.18)`.
        For a hard-coded package: the package's own `priceWithGst`.
        `plan_type` of `credit` or `free` produces `order_type: "credits"` with
        `credits_purchased: 1`; anything else produces `order_type: "subscription"`.

        > **The credit quantity is not data-driven.** `subscription_plans` has
        > no credits column, so for *any* plan row the amount granted is the
        > literal `1` (`credits: isCreditPlan ? 1 : undefined` and
        > `credits_purchased: isCreditPlan ? 1 : null`). Adding a 50-credit
        > plan to the database would silently grant one. Only the hard-coded
        > `CREDIT_PACKAGES` fallback carries a real `credits` value, and all
        > three of those are currently `1` too.

        The `amount` in the response is always **paise** (rupees x 100), which
        is what Razorpay Checkout expects. `plan.priceWithGst` remains
        **rupees**. Mixed units in one body, so check the field you need.

        ## Idempotent reuse

        If the user has a matching `pending` order for the same plan, same
        amount, created in the last **10 minutes**, that order is returned
        instead of creating a new one. This is why abandoning a checkout and
        returning a few minutes later resumes the same `orderId`.
      x-auth: session-or-bearer
      x-owner-check: self
      x-known-issues:
        - id: PLAN-CREDITS-NOT-DATA-DRIVEN
          severity: medium
          summary: >-
            A plan row cannot express how many credits it grants, because subscription_plans has no
            credits column; the amount is the literal 1 for every database plan. A new
            multi-credit plan added to the database would be created and charged at full price
            while fulfilling with one credit.
      security:
        - bearerAuth: []
        - nextAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                planId:
                  type: string
                  description: Plan UUID or plan name. Preferred.
                packageId:
                  type: string
                  description: Legacy alias; used only when `planId` is absent. Matches the hard-coded package ids.
      responses:
        "200":
          description: |
            A Razorpay order, either freshly created or a reused pending
            order. The body carries `plan` for database plans and `package`
            for hard-coded packages.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RazorpayOrderResponse"
        "400":
          description: "Neither `planId` nor `packageId` supplied, or the value matched no plan or package."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
              examples:
                missingId:
                  value:
                    error: "Invalid request: planId or packageId required"
                unknownId:
                  value:
                    error: Invalid plan or package ID
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
                example:
                  error: Unauthorized
        "500":
          description: "Razorpay credentials missing, the Razorpay API call failed, or a database write failed."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"

  /api/payments/verify:
    post:
      tags: [Payments]
      operationId: verifyPayment
      summary: Verify a Razorpay payment and fulfil the order
      description: |
        The client-side completion step after Razorpay Checkout returns.

        Checks performed, in order: signature validity
        (`HMAC_SHA256(orderId|paymentId, RAZORPAY_KEY_SECRET)`), that the order
        exists, and that `order.user_id` matches the caller. Only then is
        `fulfillOrder` called, which is idempotent - an order already
        `completed` returns `{"alreadyCompleted": true}` without granting
        anything twice.

        `fulfillOrder` grants credits for `order_type: "credits"`, or for
        `order_type: "subscription"` creates an `active` subscription expiring
        in `plan.duration_days` **and promotes the buyer's role to
        `astrologer`** (unless they are `admin`), **and auto-approves any
        `PENDING` astrologer application**. Those two side effects are
        surprising for an ordinary plan purchase; see `known-gaps.md`.

        Comparing the message distinguishes first-time fulfilment
        (`"Payment verified successfully"`) from a replay
        (`"Payment already verified"`).
      x-auth: session-or-bearer
      x-owner-check: self
      x-known-issues:
        - id: PAYMENT-PROMOTES-ASTROLOGER
          severity: high
          summary: >-
            Any successful subscription purchase sets the buyer's role to astrologer and approves
            pending applications. astrologer is a privilege tier, not a marketing label: it grants
            PUT /api/analysis/{analysisId}/approve, skips report_paid on /api/analysis/full-report,
            and may analyse any project from POST /api/analysis. A customer who buys a plan is
            therefore escalated to staff privileges.
      security:
        - bearerAuth: []
        - nextAuthSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyPaymentRequest"
      responses:
        "200":
          description: Payment verified and fulfilled.
          content:
            application/json:
              schema:
                type: object
                required: [message, status, orderType]
                properties:
                  message:
                    type: string
                    enum: [Payment verified successfully, "Payment already verified"]
                  status:
                    type: string
                    const: completed
                  orderType:
                    type: string
                    enum: [credits, subscription]
        "400":
          description: Missing payment details, or the signature does not match.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
              examples:
                missing:
                  value:
                    error: Missing payment details
                badSignature:
                  value:
                    error: Invalid signature
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "403":
          description: The order exists but belongs to a different user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "404":
          description: No order with that `razorpay_order_id`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "500":
          description: "Fulfillment failure, or `RAZORPAY_KEY_SECRET` unset."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"

  /api/payments/webhook:
    post:
      tags: [Payments]
      operationId: razorpayWebhook
      summary: Razorpay server-to-server webhook receiver
      description: |
        Called by Razorpay, not by browsers. Authenticates with
        `x-razorpay-signature` = `HMAC_SHA256(rawBody, RAZORPAY_WEBHOOK_SECRET)`
        computed over the **raw** request text, so the body must not be
        re-serialised before verification.

        Every accepted event is written to `razorpay_events` first, then
        handled:

        | Event | Effect |
        | --- | --- |
        | `payment.captured` | `fulfillOrder` on `payload.payment.entity.order_id` |
        | `order.paid` | `fulfillOrder` on `payload.order.entity.id` |
        | `subscription.cancelled` | Set matching subscription to `cancelled`, stamp `cancelled_at`, clear `auto_renew` |
        | `subscription.renewed` | Extend `expires_at` by `plan.duration_days` and set `status: "active"` |

        Any other `event` value is still recorded and then marked
        `processed: true` without further action, and the route returns
        `200 {"received": true}`. Only a missing/invalid signature or an
        internal error produce a non-2xx.

        This is the reliable path for fulfilment: if a user's browser closes
        before calling `/api/payments/verify`, `payment.captured` still lands
        here.

        > **`subscription.renewed` and `subscription.cancelled` never match.**
        > Both filter on `razorpay_subscription_id`, but `fulfillOrder` creates
        > `user_subscriptions` rows without ever setting that column, and
        > `POST /api/subscription` does not set it either. Every locally
        > created subscription therefore has a `NULL` value there, so the
        > `updateMany` matches nothing. Renewals do not extend local expiry and
        > cancels are only ever applied by the client-facing route.

        There is no replay protection: `razorpay_events` is written but never
        read, so nothing consults it to skip a previously processed event. A
        replayed `payment.captured` is nonetheless harmless, because
        `fulfillOrder` short-circuits on `order.status === "completed"`.
      x-auth: webhook-signature
      x-owner-check: not-applicable
      x-known-issues:
        - id: WEBHOOK-EVENTS-NOT-READ
          severity: low
          summary: >-
            razorpay_events is append-only and never queried, so it is an audit
            log rather than an idempotency or replay guard. Nothing reads it to
            skip a duplicate event; duplicate fulfilment is prevented only by the
            order status check inside fulfillOrder.
        - id: WEBHOOK-SUBSCRIPTION-EVENTS-DEAD
          severity: medium
          summary: >-
            subscription.renewed and subscription.cancelled both filter on
            razorpay_subscription_id, but no code path ever populates that column,
            so both handlers match zero rows. Renewals never extend local
            expiry_at and remote cancellations are never observed.
      security:
        - razorpayWebhookSignature: []
      requestBody:
        required: true
        description: Raw Razorpay event JSON. Must be sent unaltered for HMAC verification.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RazorpayWebhookEvent"
      responses:
        "200":
          description: Event recorded and processed (or ignored as unrecognised).
          content:
            application/json:
              schema:
                type: object
                required: [received]
                properties:
                  received:
                    type: boolean
                    const: true
        "400":
          description: Missing or invalid `x-razorpay-signature`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "500":
          description: 'JSON parse failure or a database write failure. The event may have been recorded with `processed: false`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"

  /api/subscription:
    get:
      tags: [Subscriptions]
      operationId: getSubscription
      summary: Read the caller's current subscription
      description: |
        Returns the most recently created row with status `active` or
        `trialing`, including the joined `plans` object, plus a computed
        `is_active` boolean comparing `expires_at` to now.

        Two caveats:

        * The status filter is applied **without** checking `expires_at`, so a
          lapsed-but-still-`active` row is returned. Trust `is_active`, not
          `status`.
        * `is_active` is computed but nothing else here re-checks expiry; the
          enforcement points are `checkPaymentAccess` and the per-route credit
          checks.
      x-auth: session-or-bearer
      x-owner-check: self
      security:
        - bearerAuth: []
        - nextAuthSession: []
      responses:
        "200":
          description: The subscription, or `null` when there is no active or trialing row.
          content:
            application/json:
              schema:
                type: object
                required: [subscription]
                properties:
                  subscription:
                    oneOf:
                      - $ref: "#/components/schemas/UserSubscription"
                      - type: "null"
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"
        "500":
          description: Database failure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageField"

  /api/subscription/cancel:
    post:
      tags: [Subscriptions]
      operationId: cancelSubscription
[...]
